<?xml version="1.0" encoding="utf-8"?>
<SDMConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<xTEDS>
		<Application componentKey="SDM_DM" pathForAssembly="C:\IOC\Program Files\SDM\producer" 
pathOnSpacecraft="producer" architecture="Intel" memoryMinimum="128" operatingSystem="Linux26"/>
	</xTEDS>
	<xTEDS>
		<Application componentKey="SDM_DM" pathForAssembly="C:\IOC\Program Files\SDM\consumer" 
pathOnSpacecraft="consumer" architecture="Intel" memoryMinimum="128" operatingSystem="Linux26"/>
	</xTEDS>
	<xTEDS>
		<Application componentKey="SDM_DM" pathForAssembly="C:\IOC\Program Files\SDM\converter" 
pathOnSpacecraft="converter" architecture="Intel" memoryMinimum="128" operatingSystem="Linux26"/>
	</xTEDS>
</SDMConfig>

